<launch>
  <node name="hokuyo_node" pkg="hokuyo_node" type="hokuyo_node" output="screen">
    <!-- these are one below device maxima
    <param name="min_ang" type="double" value="-2.086213" />
    <param name="max_ang" type="double" value="+2.092349" />
    -->
    <!-- these values are to big and make the driver fall back to device maximum values -->
    <param name="min_ang" type="double" value="-2.1" />
    <param name="max_ang" type="double" value="+2.1" />
    
    <param name="frame_id" type="str" value="laser_rear" />
    <remap from="scan" to="scan_rear" />
  </node>
  
  <node name="laser_tf" pkg="tf" type="static_transform_publisher" args="-0.210 0 0.330  0 0 0  base_link laser_rear 100"/>
  
</launch>
