<launch>
  <node pkg="move_base" type="move_base" name="move_base" output="screen">
<!--        <param name="controller_frequency" value="5"/>-->
        
        <param name="yaw_goal_tolerance" value="0.25"/><!--0.05-->
        <param name="latch_xy_goal_tolerance" value="true"/><!-- wenn Zielort erreicht, nur drehen für Pose, nicht fahren-->
        
        <param name="~TrajectoryPlannerROS/holonomic_robot" value="false"/>
        <param name="~TrajectoryPlannerROS/max_vel_x" value="0.2"/><!--5-->
        <param name="~TrajectoryPlannerROS/min_vel_x" value="0.2"/><!--0.1-->
        <param name="~TrajectoryPlannerROS/max_rotational_vel" value="0.7"/><!--1.0-->
        <param name="~TrajectoryPlannerROS/min_in_place_rotational_vel" value="0.5"/>
        <param name="~TrajectoryPlannerROS/acc_lim_x" value="2.5"/><!--2.5-->
        <param name="~TrajectoryPlannerROS/acc_lim_th" value="3.2"/><!--3.2-->
        <param name="~TrajectoryPlannerROS/dwa" value="true"/><!--fa/true-->
<!--
        <param name="~TrajectoryPlannerROS/" value=""/>
        <param name="~TrajectoryPlannerROS/" value=""/>
        -->
        
<!--      <remap from="base_link" to="ScitosBase"/>-->
  </node>
  
  <node pkg="tf" type="static_transform_publisher" name="mb_broadcaster" args="0 0 0 0 0 0 ScitosBase  base_link 100" />


</launch>


<!--

== move base: pParameters ==

~base_global_planner (string, default: "navfn/NavfnROS" For 1.1+ series)

    * The name of the plugin for the global planner to use with move_base, see pluginlib documentation for more details on plugins. This plugin must adhere to the nav_core::BaseGlobalPlanner interface specified in the nav_core package. (1.0 series default: "NavfnROS") 

~base_local_planner (string, default: "base_local_planner/TrajectoryPlannerROS" For 1.1+ series)

    * The name of the plugin for the local planner to use with move_base see pluginlib documentation for more details on plugins. This plugin must adhere to the nav_core::BaseLocalPlanner interface specified in the nav_core package. (1.0 series default: "TrajectoryPlannerROS") 

~recovery_behaviors (list, default: [{name: conservative_reset, type: clear_costmap_recovery/ClearCostmapRecovery}, {name: rotate_recovery, type: rotate_recovery/RotateRecovery}, {name: aggressive_reset, type: clear_costmap_recovery/ClearCostmapRecovery}] For 1.1+ series)

    * A list of recovery behavior plugins to use with move_base, see pluginlib documentation for more details on plugins. These behaviors will be run when move_base fails to find a valid plan in the order that they are specified. After each behavior completes, move_base will attempt to make a plan. If planning is successful, move_base will continue normal operation. Otherwise, the next recovery behavior in the list will be executed. These plugins must adhere to the nav_core::RecoveryBehavior interface specified in the nav_core package. (1.0 series default: [{name: conservative_reset, type: ClearCostmapRecovery}, {name: rotate_recovery, type: RotateRecovery}, {name: aggressive_reset, type: ClearCostmapRecovery}]) 

~controller_frequency (double, default: 20.0)

    * The rate in Hz at which to run the control loop and send velocity commands to the base. 

~planner_patience (double, default: 5.0)

    * How long the planner will wait in seconds in an attempt to find a valid plan before space-clearing operations are performed. 

~controller_patience (double, default: 15.0)

    * How long the controller will wait in seconds without receiving a valid control before space-clearing operations are performed. 

~conservative_reset_dist (double, default: 3.0)

    * The distance away from the robot in meters at which obstacles will be cleared from the costmap when attempting to clear space in the map. Note, this parameter is only used when the default recovery behaviors are used for move_base. 

~recovery_behavior_enabled (bool, default: true)

    * Whether or not to enable the move_base recovery behaviors to attempt to clear out space. 

~clearing_rotation_allowed (bool, default: true)

    * Determines whether or not the robot will attempt an in-place rotation when attempting to clear out space. 

~shutdown_costmaps (bool, default: false)

    * Determines whether or not to shutdown the costmaps of the node when move_base is in an inactive state 

~oscillation_timeout (double, default: 0.0)

    * How long in seconds to allow for oscillation before executing recovery behaviors. A value of 0.0 corresponds to an infinite timeout. New in navigation 1.3.1 

~oscillation_distance (double, default: 0.5)

    * How far in meters the robot must move to be considered not to be oscillating. Moving this far resets the timer counting up to the ~oscillation_timeout New in navigation 1.3.1
    
  
== base local planner parameters ==  
    Parameters

There are a large number of ROS Parameters that can be set to customize the behavior of the base_local_planner::TrajectoryPlannerROS wrapper. These parameters are grouped into several categories: robot configuration, goal tolerance, forward simulation, trajectory scoring, oscillation prevention, and global plan.

Robot Configuration Parameters

~<name>/acc_lim_x (double, default: 2.5)

    * The x acceleration limit of the robot in meters/sec^2 

~<name>/acc_lim_y (double, default: 2.5)

    * The y acceleration limit of the robot in meters/sec^2 

~<name>/acc_lim_th (double, default: 3.2)

    * The rotational acceleration limit of the robot in radians/sec^2 

~<name>/max_vel_x (double, default: 0.5)

    * The maximum forward velocity allowed for the base in meters/sec 

~<name>/min_vel_x (double, default: 0.1)

    * The minimum forward velocity allowed for the base in meters/sec. It is useful to specify this to guarantee that velocity commands sent to a mobile base are high enough to allow the base to overcome friction. 

~<name>/max_rotational_vel (double, default: 1.0)

    * The maximum rotational velocity allowed for the base in radians/sec 

~<name>/min_in_place_rotational_vel (double, default: 0.4)

    * The minimum rotational velocity allowed for the base while performing in-place rotations in radians/sec 

~<name>/backup_vel (double, default: -0.1)

    * DEPRECATED (use escape_vel):Speed used for backing up during escapes in meters/sec. Note that it must be negative in order for the robot to actually reverse. A positive speed will cause the robot to move forward while attempting to escape. 

~<name>/escape_vel (double, default: -0.1)

    * Speed used for driving during escapes in meters/sec. Note that it must be negative in order for the robot to actually reverse. A positive speed will cause the robot to move forward while attempting to escape. New in navigation 1.3.1 

~<name>/holonomic_robot (bool, default: true)

    * Determines whether velocity commands are generated for a holonomic or non-holonomic robot. For holonomic robots, strafing velocity commands may be issued to the base. For non-holonomic robots, no strafing velocity commands will be issued. 

The following parameters are only used if holonomic_robot is set to true:

~<name>/y_vels (list, default: [-0.3, -0.1, 0.1, 0.3])

    * The strafing velocities that a holonomic robot will consider in meters/sec 

Goal Tolerance Parameters

~<name>/yaw_goal_tolerance (double, default: 0.05)

    * The tolerance in radians for the controller in yaw/rotation when achieving its goal 

~<name>/xy_goal_tolerance (double, default: 0.10)

    * The tolerance in meters for the controller in the x & y distance when achieving a goal 

~<name>/latch_xy_goal_tolerance (bool, default: false)

    * If goal tolerance is latched, if the robot ever reaches the goal xy location it will simply rotate in place, even if it ends up outside the goal tolerance while it is doing so. - New in navigation 1.3.1 

Forward Simulation Parameters

~<name>/sim_time (double, default: 1.0)

    * The amount of time to forward-simulate trajectories in seconds 

~<name>/sim_granularity (double, default: 0.025)

    * The step size, in meters, to take between points on a given trajectory 

~<name>/angular_sim_granularity (double, default: ~<name>/sim_granularity)

    * The step size, in radians, to take between angular samples on a given trajectory. - New in navigation 1.3.1 

~<name>/vx_samples (integer, default: 3)

    * The number of samples to use when exploring the x velocity space 

~<name>/vtheta_samples (integer, default: 20)

    * The number of samples to use when exploring the theta velocity space 

~<name>/controller_frequency (double, default: 20.0)

    * The frequency at which this controller will be called in Hz. Uses searchParam to read the parameter from parent namespaces if not set in the namespace of the controller. For use with move_base, this means that you only need to set its "controller_frequency" parameter and can safely leave this one unset. - New in navigation 1.3.1 

Trajectory Scoring Parameters

The cost function used to score each trajectory is in the following form:

cost = 
  path_distance_bias * (distance to path from the endpoint of the trajectory in map cells or meters depending on the meter_scoring parameter) 
  + goal_distance_bias * (distance to local goal from the endpoint of the trajectory in map cells or meters depending on the meter_scoring parameter) 
  + occdist_scale * (maximum obstacle cost along the trajectory in obstacle cost (0-254))

~<name>/meter_scoring (bool, default: false)

    * Whether the goal_distance_bias and path_distance_bias parameters should assume that goal_distance and path_distance are expressed in units of meters or cells. Cells are assumed by default. New in navigation 1.3.1 

~<name>/path_distance_bias (double, default: 0.6)

    * The weighting for how much the controller should stay close to the path it was given 

~<name>/goal_distance_bias (double, default: 0.8)

    * The weighting for how much the controller should attempt to reach its local goal, also controls speed 

~<name>/occdist_scale (double, default: 0.01)

    * The weighting for how much the controller should attempt to avoid obstacles 

~<name>/heading_lookahead (double, default: 0.325)

    * How far to look ahead in meters when scoring different in-place-rotation trajectories 

~<name>/heading_scoring (bool, default: false)

    * Whether to score based on the robot's heading to the path or its distance from the path 

~<name>/heading_scoring_timestep (double, default: 0.8)

    * How far to look ahead in time in seconds along the simulated trajectory when using heading scoring 

~<name>/dwa (bool, default: true)

    * Whether to use the Dynamic Window Approach (DWA)_ or whether to use Trajectory Rollout (NOTE: In our experience DWA worked as well as Trajectory Rollout and is computationally less expensive. It is possible that robots with extremely poor acceleration limits could gain from running Trajectory Rollout, but we recommend trying DWA first.) 

Oscillation Prevention Parameters

~<name>/oscillation_reset_dist (double, default: 0.05)

    * How far the robot must travel in meters before oscillation flags are reset 

Global Plan Parameters

~<name>/prune_plan (bool, default: true)

    * Defines whether or not to eat up the plan as the robot moves along the path. If set to true, points will fall off the end of the plan once the robot moves 1 meter past them. 
    
    -->
